SHADOW_SERVER_URL=http://host.docker.internal:3002

KANBAN_PORT=4201
KANBAN_PUBLIC_BASE_URL=http://localhost:4201
KANBAN_API_BASE_URL=http://host.lima.internal:4201

QNA_PORT=4210
QNA_PUBLIC_BASE_URL=http://localhost:4210
QNA_API_BASE_URL=http://host.lima.internal:4210

QUIZ_PORT=4211
QUIZ_PUBLIC_BASE_URL=http://localhost:4211
QUIZ_API_BASE_URL=http://host.lima.internal:4211

WHEEL_PORT=4212
WHEEL_PUBLIC_BASE_URL=http://localhost:4212
WHEEL_API_BASE_URL=http://host.lima.internal:4212

TRAINER_PORT=4213
TRAINER_PUBLIC_BASE_URL=http://localhost:4213
TRAINER_API_BASE_URL=http://host.lima.internal:4213

RESUME_PORT=4214
RESUME_PUBLIC_BASE_URL=http://localhost:4214
RESUME_API_BASE_URL=http://host.lima.internal:4214

PETCAT_PORT=4215
PETCAT_PUBLIC_BASE_URL=http://localhost:4215
PETCAT_API_BASE_URL=http://host.lima.internal:4215
