registry="https://registry.npmjs.org/"
public-hoist-pattern[]=*expo*
public-hoist-pattern[]=@expo/*
public-hoist-pattern[]=react-native
public-hoist-pattern[]=react-native-*
public-hoist-pattern[]=@react-native/*
public-hoist-pattern[]=@react-navigation/*
public-hoist-pattern[]=metro-*
public-hoist-pattern[]=@react-native-community/*
